.contentrighty{
    /* background-color: black; */
    margin-left: 900px;
    position: absolute;
    margin-right: 19px;
    top:90px;
    
}
.firstcontent{
    border: 1px lightgray double;
    margin-top: 6px
;
}